
<h1 style="color:green; text-align: center;">Successfully Booked Ticket</h1>


<div class="showcase">
    
    <table>
        <tr>
            <td><h3>Ticket No: </h3></td>
            <td><span><h5><%= tno %></h5></span></td>
        </tr>
        <tr>
            <td><h3>First Name: </h3></td>
            <td><h5><%= data.fname %></h5> </td>
        </tr>
        <tr>
            <td><h3>Last Name: </h3></td>
            <td><h5><%= data.lname %></h5> </td>
        </tr>
        <tr>
            <td><h3>Gender: </h3></td>
            <td><h5><%= data.gender %></h5></td>
        </tr>
        <tr>
            <td><h3>Email: </h3></td>
            <td><h5><%= data.email %></h5> </td>
        </tr>
        <tr>
            <td><h3>Normal: </h3></td>
            <td><h5><%= data.normal %></h5> </td>
        </tr>
        <tr>
            <td><h3>Supreme: </h3></td>
            <td><h5><%= data.supreme %></h5> </td>
        </tr>
        <tr>
            <td><h3>Total Amount: </h3></td>
            <td><h4><%= amt %></h4> </td>
        </tr>
        
        

    </table>
    
</div>

<div class="btn">
    <a href="./emp_add">EDIT</a>
</div>
<br>
