<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Zoo DBMS Mini Project">
    <meta name="keywords" content="Zoo DBMS, Mini Project">
    <meta name="author" content="ven.ugo Saurabh">
    
    <% if (isadmin) { %>
      <title>Zoo Admin | <%= titletag %> </title>
    <% } %>
    
    <title>Zoo DBMS | <%= titletag %> </title>
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/styles.css">
  </head>
  <body>
    <% if (isadmin) { %>
      <%- include("../partials/adminHeader.ejs") %>
    <% } else { %>
      <%- include("../partials/header.ejs") %> 

    <% } %>
   
      
        <%- body %> 
    <%- include("../partials/footer.ejs") %> 
    </body>
    
  </html>