<h2 class="container">Add Animal Details</h2>

<form class="container" action="/animals_add/<%=id%>" method="POST">
    <br>
  <table>
     <tr>
       <td>
         Animal name:
       </td>
       <td>
         <input type="text" name="aname" value="<%= data.aname %>">
        </td>
        <td>
          Common name:
        </td>
        <td>
          <input type="text" name="cname" value="<%= data.cname %>">
         </td>
        <td>
          Biological name:
        </td>
        <td>
          <input type="text" name="bioname" value="<%= data.bioname %>">
         </td>
     </tr>
     <tr>
       <td>
         Gender:
       </td>
       <td>
         <input type="radio" name="gender" value="M">Male
         <input type="radio" name="gender" value="F">Female
       </td>
     </tr>

     <tr>
       <td>
         Height:
       </td>
       <td>
         <input type="Phone" name="ht" value="<%= data.ht %>">
       </td>
     </tr>

     <tr>
       <td>
         Weight:
       </td>
       <td>
         <input type="Phone" name="wt" value="<%= data.wt %>">
       </td>
     </tr>

     <tr>
       <td>
         Feed ID:
       </td>
       <td>
         <input type="text" name="feedid" value="<%= data.feedid %>">
       </td>
     </tr>

     <tr>
       <td>
         Date of Birth:
       </td>
       <td>
         
         <input type="Date" name="dob" value="<%= data.dob %>">
       </td>
     </tr>
     
    <tr>
      <td>
        Cage No.:
      </td>
      <td>
        <input type="Phone" name="cageno" value="<%= data.cageno %>">
      </td>
    </tr>
    
    <tr>
      <td>
        <button type="submit">Submit</button>
      </td>
    </tr>
  </table>
  <br>
</form>
