
<h1 style="color:green; text-align: center;">Success</h1>


<div class="showcase">
    
    <table>
        <tr>
            <td><h3>EmpID: </h3></td>
            <td><span><%= empID %></span></td>
        </tr>
        <tr>
            <td><h3>First Name: </h3></td>
            <td><%= data.fName %> </td>
        </tr>
        <tr>
            <td><h3>Last Name: </h3></td>
            <td><%= data.lName %> </td>
        </tr>
        <tr>
            <td><h3>Gender: </h3></td>
            <td><%= data.gender %> </td>
        </tr>
        <tr>
            <td><h3>House No: </h3></td>
            <td><%= data.HNo %> </td>
        </tr>
        <tr>
            <td><h3>Street Name: </h3></td>
            <td><%= data.stName %> </td>
        </tr>
        <tr>
            <td><h3>Area: </h3></td>
            <td><%= data.area %> </td>
        </tr>
        <tr>
            <td><h3>City: </h3></td>
            <td><%= data.city %> </td>
        </tr>
        <tr>
            <td><h3>Zip: </h3></td>
            <td><%= data.zip %> </td>
        </tr>
        <tr>
            <td><h3>Phone: </h3></td>
            <td><%= data.phone %> </td>
        </tr>
        <tr>
            <td><h3>DOB: </h3></td>
            <td><%= data.dob %> </td>
        </tr>
        <tr>
            <td><h3>Dept: </h3></td>
            <td><%= data.dept %> </td>
        </tr>
        <tr>
            <td><h3>Salary: </h3></td>
            <td><%= data.salary %> </td>
        </tr>

    </table>
    
</div>

<div class="btn">

    <a href="./emp_add">EDIT</a>
</div>
<br>



