
<h2 class="container">Add Employee</h2>
<br>
    <form class="container" action="/emp_add/<%=empid%>" method="POST">
      <table>
        
         <tr>
           <td>
             First name:
           </td>
           <td>
             <input type="text" name="fname" value="<%= data.fname %>">
           </td>
           <td>
             Last name:
             <input type="text" name="lname" value="<%= data.lname %>">
           </td>
         </tr>
         <tr>
           <td>
             Gender:
           </td>
           <td>
             <input type="radio" name="gender" value="M">Male
             <input type="radio" name="gender" value="F">Female
           </td>
         </tr>
         <tr>
           <td>
             Address:
           </td>
           <td>
             House No.:
             <input type="text" name="houseno" value="<%= data.houseno %>">
           </td>
          </tr>
           <tr>
             <td>
              </td>
             <td>
               St. Name:
               <input type="text" name="stname" value="<%= data.stname %>">
             </td>
          </tr>
          <tr>
            <td>
             </td>
            <td>
              Area:
              <input type="text" name="area" value="<%= data.area %>">
            </td>
         </tr>
         <tr>
           <td>
            </td>
           <td>
             City:
             <input type="text" name="city" value="<%= data.city %>">
           </td>
        </tr>
        <tr>
          <td>
           </td>
          <td>
            Zipcode:
            <input type="text" name="zipcode" value="<%= data.zipcode %>">
          </td>
       </tr>
         <tr>
           <td>
             Phone no.:
           </td>
           <td>
             <input type="Phone" name="phno" value="<%= data.phno %>">
           </td>
         </tr>

         <tr>
           <td>
             Date of Birth:
           </td>
           <td>
             <input type="Date" name="dob" value="<%= data.dob %>">
           </td>
         </tr>
         <tr>
           <td>
             Department:
            </td>
           <td>
             <input type="text" name="deptid" value="<%= data.deptid %>">
           </td>
        </tr>
        <tr>
          <td>
            Salary:
          </td>
          <td>
            <input type="Phone" name="salary" value="<%= data.salary %>">
          </td>
        </tr>
        <tr>
          <td>
            <button type="submit">Submit</button>
          </td>
        </tr>
      </table>
    </form>
