<br>
<h2 class="container">Search Employee</h2>

  <div class="container">
    <br>
    <form action="/emp_search" method="POST">
      <label class="form-label">Enter EmpID :</label> 
        <input type="text" name="empid" class="form-control" value="">
        <br>
        <button type="submit" class="btn btn-dark">Search</button>
    </form>
    <br>
    
  </div>
<div class="table-responsive">
    <table class="empsearchtable table table-bordered ">
      <thead class="table-dark">
        <th>EmpID</th>
        <th>FName</th>
        <th>LName</th>
        <th>Gender</th>
        <th>House No</th>
        <th>Street Name</th>
        <th>Area</th>
        <th>City</th>
        <th>Zip</th>
        <th>Phone</th>
        <th>DOB</th>
        <th>Dept</th>
        <th>Salary</th>
        
        <th>Delete</th>
      </thead>
      <tbody>
          <tr>
            <td id="#empid"><%= data[0].empid %> </td>
            <td><%= data[0].fname %> </td>
            <td><%= data[0].lname %></td>
            <td><%= data[0].gender %></td>
            <td><%= data[0].houseno %></td>
            <td><%= data[0].stname  %></td>
            <td><%= data[0].area    %></td>
            <td><%= data[0].city    %></td>
            <td><%= data[0].zipcode %></td>
            <td><%= data[0].phno    %></td>
            <td><%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(data[0].dob) %></td>
            <td><%= data[0].deptid  %></td>
            <td><%= data[0].salary  %></td>
            <form action="/emp_del/<%= data[0].empid %>" method="post">
              <td><button type="submit" class="btn btn-danger" id="delete">Delete</button></td>
            </form>
            
          </tr>

          
      </tbody>
    </table>
    <br>
  </div>

  <script>
    const btn = document.querySelector('#delete')
    btn.addEventListener('click', (e)=>{
      const r = confirm('Data will be deleted!')
    })
  </script>